@page "/admin/company/view/{CompanyId:guid}"
@rendermode InteractiveServer
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject EditSuccess EditSuccessState

<PageTitle>Company View</PageTitle>

@if (NotFound && !Loading)
{
  <div class="alert alert-warning">Company with that id doesn't exist.</div>
}
else
{
  @if (Company is null || Loading)
  {
    <div class="alert alert-info">Loading...</div>
  }
  else
  {
    <h1>@Company.Id</h1>
        @* PageHeaderCodePlaceholder *@

    <br />
    @if (EditSuccess)
    {
      <div class="alert alert-success">Successfully updated the Company.</div>
    }
    <hr />
    <h2>Id</h2>
    <br />
    <h3>@Company.Id</h3>
    <br />

    <h2>IsTest</h2>
        <br />
        <h3>@Company.IsTest</h3>
        <br />
        <h2>Name</h2>
        <br />
        <h3>@Company.Name</h3>
        <br />
        @* PropertyCodePlaceholder *@

    <a class="btn btn-primary" title="Go Back" href="admin/company   ">
      Back to Grid
    </a>
    <span>&nbsp;</span>
    @if (!Deleted)
    {
      <a class="btn btn-primary" href="admin/company/edit/@Company.Id" title="Edit">Edit</a>

      <span>&nbsp;</span>
      @if (!ShowConfirmation)
      {
        <button class="btn btn-danger" @onclick="@(() => { ShowConfirmation = true; EditSuccess = false; })">Delete</button>
      }
      else
      {
        <br />
        <br />
        <DeletePrompt Confirmation="@(async result => await ConfirmAsync(result))" />
      }
    }
    else
    {
      <div class="btn btn-danger">🚫 This Company has been deleted.</div>
    }
  }
}

@code {
  private bool Loading;

  [Parameter]
  public Guid CompanyId { get; set; }

  private Guid _lastCompanyId;

  [Parameter]
  public bool EditSuccess { get; set; }

  private Company? Company { get; set; }

  private bool NotFound = false;

  private bool ShowConfirmation = false;

  private bool Deleted = false;

  protected override async Task OnParametersSetAsync()
  {
    if (_lastCompanyId != CompanyId)
    {
      EditSuccess = EditSuccessState.Success;
      EditSuccessState.Success = false;
      _lastCompanyId = CompanyId;
      await LoadCompanyAsync();
    }
  }

  private async Task ConfirmAsync(bool result)
  {
    if (result)
    {
      await DeleteAsync();
    }
    else
    {
      ShowConfirmation = false;
      EditSuccess = false;
    }
  }

  private async Task LoadCompanyAsync()
  {
    if (Loading)
    {
      return;
    }

    NotFound = false;
    Company = null;

    Loading = true;

    using var context = DbFactory.CreateDbContext();

    if (context.Companies is not null)
    {
      Company = await context.Companies
        .AsNoTracking()
        .SingleOrDefaultAsync(
          x => x.Id == CompanyId);

      if (Company is null)
      {
        NotFound = true;
      }
    }

    Loading = false;
  }

  private async Task DeleteAsync()
  {
    if (Loading)
    {
      return;
    }

    Loading = true;
    using var context = DbFactory?.CreateDbContext();

    if (context?.Companies is not null)
    {
      var company = await context.Companies
        .SingleOrDefaultAsync(x => x.Id == CompanyId);

      if (company is not null)
      {
        context.Companies?.Remove(company);
        await context.SaveChangesAsync();
        Loading = false;
        Deleted = true;
      }
      else
      {
        Loading = false;
        await LoadCompanyAsync();
      }
    }
    else
    {
      Loading = false;
      await LoadCompanyAsync();
    }
  }
}
