@page "/admin/game-console/view/{GameConsoleId:guid}"
@rendermode InteractiveServer
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject EditSuccess EditSuccessState

<PageTitle>Game Console View</PageTitle>

@if (NotFound && !Loading)
{
  <div class="alert alert-warning">Game Console with that id doesn't exist.</div>
}
else
{
  @if (GameConsole is null || Loading)
  {
    <div class="alert alert-info">Loading...</div>
  }
  else
  {
    <h1>@GameConsole.Id</h1>
        @* PageHeaderCodePlaceholder *@

    <br />
    @if (EditSuccess)
    {
      <div class="alert alert-success">Successfully updated the Game Console.</div>
    }
    <hr />
    <h2>Id</h2>
    <br />
    <h3>@GameConsole.Id</h3>
    <br />

    <h2>IsTest</h2>
        <br />
        <h3>@GameConsole.IsTest</h3>
        <br />
        <h2>Name</h2>
        <br />
        <h3>@GameConsole.Name</h3>
        <br />
        @* PropertyCodePlaceholder *@

    <a class="btn btn-primary" title="Go Back" href="admin/game-console   ">
      Back to Grid
    </a>
    <span>&nbsp;</span>
    @if (!Deleted)
    {
      <a class="btn btn-primary" href="admin/game-console/edit/@GameConsole.Id" title="Edit">Edit</a>

      <span>&nbsp;</span>
      @if (!ShowConfirmation)
      {
        <button class="btn btn-danger" @onclick="@(() => { ShowConfirmation = true; EditSuccess = false; })">Delete</button>
      }
      else
      {
        <br />
        <br />
        <DeletePrompt Confirmation="@(async result => await ConfirmAsync(result))" />
      }
    }
    else
    {
      <div class="btn btn-danger">🚫 This Game Console has been deleted.</div>
    }
  }
}

@code {
  private bool Loading;

  [Parameter]
  public Guid GameConsoleId { get; set; }

  private Guid _lastGameConsoleId;

  [Parameter]
  public bool EditSuccess { get; set; }

  private GameConsole? GameConsole { get; set; }

  private bool NotFound = false;

  private bool ShowConfirmation = false;

  private bool Deleted = false;

  protected override async Task OnParametersSetAsync()
  {
    if (_lastGameConsoleId != GameConsoleId)
    {
      EditSuccess = EditSuccessState.Success;
      EditSuccessState.Success = false;
      _lastGameConsoleId = GameConsoleId;
      await LoadGameConsoleAsync();
    }
  }

  private async Task ConfirmAsync(bool result)
  {
    if (result)
    {
      await DeleteAsync();
    }
    else
    {
      ShowConfirmation = false;
      EditSuccess = false;
    }
  }

  private async Task LoadGameConsoleAsync()
  {
    if (Loading)
    {
      return;
    }

    NotFound = false;
    GameConsole = null;

    Loading = true;

    using var context = DbFactory.CreateDbContext();

    if (context.GameConsoles is not null)
    {
      GameConsole = await context.GameConsoles
        .AsNoTracking()
        .SingleOrDefaultAsync(
          x => x.Id == GameConsoleId);

      if (GameConsole is null)
      {
        NotFound = true;
      }
    }

    Loading = false;
  }

  private async Task DeleteAsync()
  {
    if (Loading)
    {
      return;
    }

    Loading = true;
    using var context = DbFactory?.CreateDbContext();

    if (context?.GameConsoles is not null)
    {
      var gameConsole = await context.GameConsoles
        .SingleOrDefaultAsync(x => x.Id == GameConsoleId);

      if (gameConsole is not null)
      {
        context.GameConsoles?.Remove(gameConsole);
        await context.SaveChangesAsync();
        Loading = false;
        Deleted = true;
      }
      else
      {
        Loading = false;
        await LoadGameConsoleAsync();
      }
    }
    else
    {
      Loading = false;
      await LoadGameConsoleAsync();
    }
  }
}
